{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Battle</title>
{% endblock title %}

{% block content %}

<h1> Battle </h1>

Movieballs {{ movieballs }} <br>
Battle with {{ name }} <br>
Strength {{ strength }} (chance {{ chance }}%)<br>

{% endblock content %}
