{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Moviedex</title>
{% endblock title %}

{% block content %}

<h1> Moviedex </h1>

{% for mon in mons %}

{% if mon.catched == True %}

<table style="border-left: 0; border-right: 0;">
  <tr>
	<td>
	  <img height="200px" src="{{ mon.image }}">
	</td>
	<td style="width:300px;">
	  Title: {{ mon.name }} <br>
	  Date released:{{ mon.date}} <br>
	  Director: {{ mon.director }} <br>
	  Writer: {{ mon.writer }} <br>
	</td>
  </tr>
</table>

{% endif %}

{% endfor %}

{% endblock content %}
